<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_b7XK7Iadop8O17z9EbfrS5cgZMlwysE</string>
	<key>GCM_SENDER_ID</key>
	<string>909695087850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ala-Jaza</string>
	<key>PROJECT_ID</key>
	<string>alajazamobileapp-80452</string>
	<key>STORAGE_BUCKET</key>
	<string>alajazamobileapp-80452.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909695087850:ios:4b095621d65e71b46b5393</string>
	<key>DATABASE_URL</key>
	<string>https://alajazamobileapp-80452-default-rtdb.firebaseio.com</string>
</dict>
</plist>